{% extends 'base.html.twig' %}


{% block title %}
    You're not welcome here.
{% endblock %}

{% block body %}
    <h1>Permission denied (403)</h1>
    <p>
        You're not welcome here. <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}