{% extends 'base.html.twig' %}


{% block title %}
    Ooooops
{% endblock %}

{% block body %}
    <h1>Oooops, something something went terribly wrong!</h1>
    <p>
        <a href="{{ path('homepage') }}"> Go away and never go back</a>.
    </p>
{% endblock %}