html, body {
    font-size: 12px;
    line-height: 18px;
    height: 100%;
}

.main-container {
    height: auto;
    min-height: 100%;
}

/***** Titles and Headings *****/
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}


h1.title-bg, h2.title-bg, h3.title-bg, h4.title-bg, h5.title-bg, h6.title-bg {
    background: #f8f8f8;
    padding: 10px 5px;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px dotted #a9a9a9;
    border-top: 1px dotted #a9a9a9;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #7f7f7f;
}

h2 small {
    font-size: 30px;
}

h5 small {
    font-size: 14px;
}

h6 small {
    font-size: 12px;
}

h5.title-bg button {
    float: right;
    text-transform: none;
    margin-left: 5px;
}

/***** Links *****/
a, a:hover {
    color: #CC0000;
}

/***** Misc *****/
i {
    margin-right: 3px;
}

p {
    margin-bottom: 20px;
}

blockquote {
    font-size: 16px;
    line-height: 24px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    border-left: 5px solid #999;
}

blockquote.pull-right {
    border-right: 5px solid #999;
}

/**************************************
/ Header
**************************************/
.logo {
    margin-top: 40px;
}

.logo h5 {
    display: inline-block;
}

.navigation {
    margin-top: 40px;
}

.navigation .navbar {
    float: right;
    background: #f8f8f8;
}

/*** Blog List Page ***/
.blog article,
.blog section {
    margin-bottom: 10px;
}

.blog article h3 {
    margin-top: 0px;
}

.blog article h3 a, .blog article h4 a,
.blog article h3 a:hover, .blog article h4 a:hover {
    color: #333333;
    text-decoration: none;
}

.blog h4 {
    line-height: 2px;
}

.post-summary {
    background: #f8f8f8;
    padding-bottom: 20px;
    overflow: auto;
}

.post-summary p {
    padding: 20px;
    margin: 0px;
    font-size: medium
}

.post-summary-footer {
    margin: 0px;
    padding: 0px 20px;
}

.post-summary-footer button {
    margin: 0px;
    float: left;
}

ul.post-data {
    float: right;
}

ul.post-data-3 {
    margin-top: 20px;
}

ul.post-data li, ul.post-data-3 li {
    list-style: none;
    float: left;
    padding: 0px 10px;
    border-left: 1px dotted #a9a9a9;
}

ul.post-data li:first-child,
ul.post-data-3 li:first-child {
    border: none;
    padding-left: 0px;
}

.blog-post-hover a:hover {
    text-decoration: none;
    color: #d8450b;
}

/*** Blog Full Page ***/
.post-content {
    background: #f8f8f8;
    overflow: auto;
}

.post-body {
    padding: 5px;
    font-size: medium;
}

.about-author img {
    float: left;
    margin-right: 20px;
}

/**************************************
/ Sidebar
**************************************/
.sidebar input {
    width: 80%;
}

.sidebar h5 {
    margin-top: 40px;
}

.sidebar ul.post-category-list,
.sidebar .tab-content .tab-pane ul {
    margin: 0px;
}

.sidebar ul.post-category-list li,
.sidebar .tab-content .tab-pane ul li {
    list-style: none;
    border-bottom: 1px dashed #a9a9a9;
    padding: 10px 5px;
}

.sidebar ul.post-category-list li a {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.sidebar ul.post-category-list li:first-child,
.sidebar .tab-content .tab-pane ul li:first-child {
    padding-top: 0px;
}

.sidebar ul.post-category-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.sidebar ul.post-category-list li i {
    padding-right: 5px;
    background-position: 0 -95px;
}

.sidebar .tab-content .tab-pane ul li i {
    padding-right: 5px;
}

/**************************************
/ MISC
**************************************/
.row {
    margin-bottom: 40px;
}

.sub-row30 {
    margin-bottom: 30px;
}

.sub-row20 {
    margin-bottom: 20px;
}

.no-margin {
    margin-bottom: 0px;
}

